.el-form-item-width20 {
  width: 16vw;
}

.el-form-item-width40 {
  width: 26vw;
}

.el-form-item-width50 {
  width: 36vw;
}

.fullscreen-dialog-width90 {
  width: 90%;
  margin: auto;
}

.dialog-back-button {
  font-size: 16px;
  margin-top: -20px;
}